.jumbotron{
	background-color:mediumspringgreen;
	color:black;
	margin-top: 50px;
	margin-bottom: 0;
}

.btn{
	background-color: mediumspringgreen;
}
.btn2{
	background-color:black;
	color:white;
}

.card-prod{
	flex: 1 250px;
}

.card-btn{
	width:100%;
	border-radius: 0;
	margin: 0;
}

.card-footer{
	padding: 0;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color:mediumspringgreen;
	margin-top: 25px;
}

footer a{
	color: #343a40;
}

footer a:hover{
	color:#343a40;
	text-decoration: none;
}

.footer-icon{
	padding-right: 10px;
}

td,th{
	text-align: center;
}

.td-al{
	text-align: left;
}

.t-des{
	margin-top: 30px;
}
.pronto{
	text-align: center;
}
.iconify{
	padding-right: 10px;
	font-size: 30px;
	color: #343a40;
}
.t-cont{
	margin: 10%;
}
.head-acor{
	background-color: #343a40;
	margin: 0;
	padding: 0;
}
.btn-acor{
	background-color: #343a40;
	color: white;
	border: none;
	width: 100%;
	text-align: left;
	padding: 0.8rem;
}
.btn-acor:focus{
	border: none;
}
.btn-acor:checked{
	border: none;
}

.h-acor{
	width: 100%;
	height: 100%;
}
.cardm-top{
	margin-top:0.2rem;
}