$blanco: #ffffff;
$negro: #000000;
$verde: #00fa9a;
$iconos:#343a40;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
.jumbotron{
	background-color:$verde;
	color:$negro;
	@include margenes(50px,0);
}

.btn{
	background-color: $verde;
}
.btn2{
	background-color:$negro;
	color:$blanco;
}

.card-prod{
	flex: 1 250px;
}

.card-btn{
	width:100%;
	border-radius: 0;
	margin: 0;
}

.card-footer{
	padding: 0;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color:$verde;
	@include margenes(25px,auto);
}

footer a{
	color: $iconos;
}

footer a:hover{
	color:$iconos;
	text-decoration: none;
}

.footer-icon{
	padding-right: 10px;
}

td,th{
	text-align: center;
}

.td-al{
	text-align: left;
}

.t-des{
	@include margenes(30px, auto);
}
.pronto{
	text-align: center;
}
.iconify{
	padding-right: 10px;
	font-size: 30px;
	color: $iconos;
}
.t-cont{
	margin: 10%;
}
.head-acor{
	background-color: $iconos;
	margin: 0;
	padding: 0;
}
.btn-acor{
	background-color: $iconos;
	color: $blanco;
	border: none;
	width: 100%;
	text-align: left;
	padding: 0.8rem;
}
.btn-acor:focus{
	border: none;
}
.btn-acor:checked{
	border: none;
}

.h-acor{
	width: 100%;
	height: 100%;
}
.cardm-top{
	@include margenes(0.2rem, auto);
}